spring:
  application:
    name: market

  datasource:
    url: jdbc:h2:tcp://localhost/~/market
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        naming:
          physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        # show_sql: true
        format_sql: true
        default_batch_fetch_size: 1000
  #    open-in-view: false


logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type: trace
    org.springframework.security: debug